{{#each id}}
  <div class="col-sm-3" key="{{name}}" >
    <div>
      <img src='{{img}}' alt='' onError='$(this).replaceWith("<div><h2>{{name}}</h2></div>");'>
       <h3>Welcome to my Profile!<h3>
       <ul>
       <li> Name: {{name}}</li>
       <li> Breed: {{breed}}</li>
       <li> Age: {{age}}</li>
       <li> Gender: {{gender}}</li>
       <li> My favorite snack is {{fave_snack}}</li>
       <li> My favorite toy is {{fave_toy}}</li>

    </div>
    <br>
      <button type="button" id="addToFavorites">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </button>
  </div>
{{/each}}
